body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	font-family: 'Cabin', sans-serif;
    font-size: 20vw;
    color: #ECF0F1;
    text-shadow: black 0.1em 0.1em 0.2em
}
p {
    font-size: 7vmin;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}
a{
	text-decoration: none;
	color: #3498DB;
}
a:hover {
    color: #6DB3DB;
}

.centrar{
	position: absolute;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	width:99%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
h1 {
    font-size: 9vw;
}
p {
    font-size: 3vmin;
}
